

</body>

<footer class="text-light" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>About</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-0">
          Spider Smart is one of the recent shopping website introduced so that people can buy the needs through our online website.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5>Informations</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19</a></li>
          <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">WHO update</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <h5>Others links</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a href="https://www.nitt.edu/">NIT Trichy</a></li>
          <li><a href="https://spider.nitt.edu/">Spider NITT</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i> Smart Spider</li>
          <li><i class="fa fa-envelope mr-2"></i> krdhyanesh@gmail.com</li>
          <li><i class="fa fa-phone mr-2"></i> + 7550273621</li>
          <!-- <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li> -->
        </ul>
      </div>
      <div class="col-12 copyright mt-3">
        <p class="float-left">
          <a href="#">Back to top</a>
        </p>
        <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by Dhyanesh</p>
      </div>
    </div>
  </div>
</footer>



</html>
